@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
    --primary: 220, 6%, 10%;
    --secondary: 210, 3%, 13%;
    --muted-secondary: 210, 3%, 19%;
}

html,
body,
:root {
    height: 100%;
    background-color: hsl(220, 6%, 10%);
}
